{
	"env": {
		"browser": true,
		"es2021": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:prettier/recommended"
	],
	"overrides": [],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"indent": [
		"error",
		2,
		{
			"SwitchCase": 1,
			"VariableDeclarator": 1,
			"outerIIFEBody": 1,
			"MemberExpression": 1,
			"FunctionDeclaration": { "parameters": 1, "body": 1 },
			"FunctionExpression": { "parameters": 1, "body": 1 },
			"CallExpression": { "arguments": 1 },
			"ArrayExpression": 1,
			"ObjectExpression": 1,
			"ImportDeclaration": 1,
			"flatTernaryExpressions": false,
			"ignoreComments": false
		}
	],
	"plugins": ["@typescript-eslint"],
	"rules": {
		"@typescript-eslint/explicit-member-accessibility": 0,
		"@typescript-eslint/explicit-function-return-type": 0,
		"@typescript-eslint/no-parameter-properties": 0,
		"@typescript-eslint/interface-name-prefix": 0,
		"@typescript-eslint/explicit-module-boundary-types": 0,
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/ban-types": "off",
		"@typescript-eslint/no-var-requires": "off"
	}
}
